# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
venv/
# dependencies
client/node_modules
client/.pnp
.pnp.js

# testing
client/coverage

# next.js
client/.next/


# production
client/build

# misc
.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env*.local

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts
.venv
__pycache__
